/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22/11/2016, 11:06:02 AM
    Author     : jenny
*/




td{
    padding: 5px
}

.k-pager-info{
    display: none;
}
.k-grid tr:hover {
    background: transparent;
}
.k-grid tr:not(.k-state-selected):hover {
    color: #80BD28;
}

.k-grid tr.k-alt:not(.k-state-selected):hover {
    background: #f1f1f1;
}
#outerWrapper{
  background-color: #FFFFFF;
  position:relative;
  min-height:470px;
}

