/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22/11/2016, 11:06:02 AM
    Author     : jenny
*/

div{
    padding: 2px;
}

table{
    padding: 2px;
}

td{
    padding: 5px
}

.k-pager-info{
    display: none;
}