/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21-dic-2016, 8:51:13
    Author     : Quantum
*/
footer {
            background-color: #333;
            width: 100%;
            bottom: 0;
            left: 0px;
            position: fixed;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }


td{
    padding: 5px
}

.k-pager-info{
    display: none;
}