/**********************************************/
/**********************************************/
/***************   PORTAFOLIO   ***************/
/**********************************************/
/**********************************************/

.po_bullet1{
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -8px -8px;
	cursor:pointer;
        border: 0px;
            
}
.po_bullet1:hover {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -58px -8px;
	cursor:pointer;
        border: 0px;
}
.po_bullet1:active {
	width: 34px;
	height: 34px;
	background:url(../images/SpriteIntegrity.png) -8px -8px;
}

/* ——  */

.po_bulleto1{
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -8px -8px;
	cursor:pointer;
        border: 0px;
            
}
.po_bulleto1:active {
	width: 34px;
	height: 34px;
	background:url(../images/SpriteIntegrity.png) -8px -8px;
}

/* ——  */

.po_bullet2{
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -8px -58px;
	cursor:pointer
}
.po_bullet2:hover {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -58px -58px;
	cursor:pointer
}
.po_bullet2:active {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -8px -58px;
}

/* ——  */

.po_editon{
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -8px -108px;
	cursor:pointer
}
.po_editon:hover {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -58px -108px;
	cursor:pointer
}
.po_editon:active {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -8px -108px;
}

/* ——  */

.po_editoff{
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -8px -158px;
	cursor:pointer
}
.po_editoff:hover {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -58px -158px;
	cursor:pointer
}
.po_editoff:active {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -8px -158px;
}

/* ——  */

.po_detalle{
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -8px -208px;
	cursor:pointer
}
.po_detalle:hover {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -58px -208px;
	cursor:pointer
}
.po_detalle:active {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -8px -208px;
}

/* ——  */

.po_mas{
    width: 34px;
    height: 34px;
    background: url(../images/SpriteIntegrity.png) -8px -258px;
    cursor:pointer
}
.po_mas:hover {
    width: 34px;
    height: 34px;
    background: url(../images/SpriteIntegrity.png) -58px -258px;
    cursor:pointer
}
.po_mas:active {
    width: 34px;
    height: 34px;
    background: url(../images/SpriteIntegrity.png) -8px -258px;
}

/* ——  */

.po_cerrar{
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -8px -308px;
	cursor:pointer
}
.po_cerrar:hover {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -58px -308px;
	cursor:pointer
}
.po_cerrar:active {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -8px -308px;
}

/* ——  */

.po_saveon{
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -8px -358px;
	cursor:pointer
}
.po_saveon:hover {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -58px -358px;
	cursor:pointer
}
.po_saveon:active {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -8px -358px;
}

/* ——  */

.po_saveoff{
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -8px -408px;
	cursor:pointer
}
.po_saveoff:hover {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -58px -408px;
	cursor:pointer
}
.po_saveoff:active {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -8px -408px;
}

/* ——  */

.po_saveoff_disabled{
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -8px -408px;
	cursor:pointer;
        pointer-events: none;            
}

/* ——  */

.po_playon{
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -8px -458px;
	cursor:pointer
}
.po_playon:hover {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -58px -458px;
	cursor:pointer
}
.po_playon:active {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -8px -458px;
}

/* ——  */

.po_playoff{
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -8px -508px;
	cursor:pointer
}
.po_playoff:hover {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -58px -508px;
	cursor:pointer
}
.po_playoff:active {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -8px -508px;
}

/* ——  */

.po_back{
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -8px -558px;
	cursor:pointer
}
.po_back:hover {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -58px -558px;
	cursor:pointer
}
.po_back:active {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -8px -558px;
}

/* ——  */

.po_pro{
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -8px -608px;
	cursor:pointer
}
.po_pro:hover {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -58px -608px;
	cursor:pointer
}
.po_pro:active {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -8px -608px;
}

/* ——  */

.po_prooff{
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -58px -608px;
	cursor:pointer
}
.po_prooff:hover {
	width: 34px;
	height: 34px;	
        background: url(../images/SpriteIntegrity.png) -8px -608px;
	cursor:pointer
}
.po_prooff:active {
	width: 34px;
	height: 34px;	
        background: url(../images/SpriteIntegrity.png) -58px -608px;
}

/* ——  */

.po_print{
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -8px -658px;
	cursor:pointer
}
.po_print:hover {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -58px -658px;
	cursor:pointer
}
.po_print:active {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -8px -658px;
}

/* ——  */

.po_print_off{
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -58px -658px;
	cursor:pointer
}
.po_print_off:hover {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -8px -658px;
	cursor:pointer
}
.po_print_off:active {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -58px -658px;
}

/* ——  */

.po_look{
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -8px -708px;
	cursor:pointer
}
.po_look:hover {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -58px -708px;
	cursor:pointer
}
.po_look:active {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -8px -708px;
}

/* ——  */

.po_admin{
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -8px -758px;
	cursor:pointer
}
.po_admin:hover {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -58px -758px;
	cursor:pointer
}
.po_admin:active {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -8px -758px;
}

/* ——  */

.po_info{
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -8px -808px;
	cursor:pointer
}
.po_info:hover {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -58px -808px;
	cursor:pointer
}
.po_info:active {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -8px -808px;
}

/* ——  */

.po_graph{
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -8px -858px;
	cursor:pointer
}
.po_graph:hover {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -58px -858px;
	cursor:pointer
}
.po_graph:active {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -8px -858px;
}

/* ——  */

.po_group{
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -8px -908px;
	cursor:pointer
}
.po_group:hover {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -58px -908px;
	cursor:pointer
}
.po_group:active {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -8px -908px;
}

/* ——  */

.po_check{
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -8px -958px;
	cursor:pointer
}
.po_check:hover {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -58px -958px;
	cursor:pointer
}
.po_check:active {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -8px -958px;
}

/* ——  */

.po_copy{
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -8px -1008px;
	cursor:pointer
}
.po_copy:hover {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -58px -1008px;
	cursor:pointer
}
.po_copy:active {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -8px -1008px;
}


/**********************************************/
/**********************************************/
/****************   REPORTES   ****************/
/**********************************************/
/**********************************************/

.re_bullet1{
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -208px -8px;
	cursor:pointer
}
.re_bullet1:hover {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -258px -8px;
	cursor:pointer
}
.re_bullet1:active {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -208px -8px;
}

/* ——  */

.re_bullet1off{
    width: 34px;
    height: 34px;
    background: url(../images/SpriteIntegrity.png) -258px -8px;
    cursor:pointer
}
.re_bullet1off:hover {
    width: 34px;
    height: 34px;
    background: url(../images/SpriteIntegrity.png) -258px -8px;
    cursor:pointer
}
.re_bullet1off:active {
    width: 34px;
    height: 34px;
    background: url(../images/SpriteIntegrity.png) -208px -8px;
}

/* ——  */


.re_bullet1Small{
	width: 19px;
	height: 19px;
	background: url(../images/SpriteIntegrity.png) -208px -8px;
}

/* ——  */

.re_bullet2{
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -208px -58px;
	cursor:pointer
}
.re_bullet2:hover {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -258px -58px;
	cursor:pointer
}
.re_bullet2:active {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -208px -58px;
}

/* ——  */

.re_bullet2on{
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -208px -58px;
	cursor:pointer
}

/* ——  */

.re_editon{
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -208px -108px;
	cursor:pointer
}
.re_editon:hover {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -258px -108px;
	cursor:pointer
}
.re_editon:active {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -208px -108px;
}

/* ——  */

.re_editoff{
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -208px -158px;
	cursor:pointer
}
.re_editoff:hover {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -258px -158px;
	cursor:pointer
}
.re_editoff:active {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -208px -158px;
}

/* ——  */

.re_detalle{
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -208px -208px;
	cursor:pointer
}
.re_detalle:hover {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -258px -208px;
	cursor:pointer
}
.re_detalle:active {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -208px -208px;
}

/* ——  */

.re_mas{
    width: 34px;
    height: 34px;
    background: url(../images/SpriteIntegrity.png) -208px -258px;
    cursor:pointer
}
.re_mas:hover {
    width: 34px;
    height: 34px;
    background: url(../images/SpriteIntegrity.png) -258px -258px;
    cursor:pointer
}
.re_mas:active {
    width: 34px;
    height: 34px;
    background: url(../images/SpriteIntegrity.png) -208px -258px;
}

/* ——  */

.re_cerrar{
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -208px -308px;
	cursor:pointer
}
.re_cerrar:hover {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -258px -308px;
	cursor:pointer
}
.re_cerrar:active {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -208px -308px;
}

/* ——  */

.re_saveon{
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -208px -358px;
	cursor:pointer
}
.re_saveon:hover {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -258px -358px;
	cursor:pointer
}
.re_saveon:active {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -208px -358px;
}

/* ——  */

.re_saveoff{
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -208px -408px;
	cursor:pointer
}
.re_saveoff:hover {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -258px -408px;
	cursor:pointer
}
.re_saveoff:active {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -208px -408px;
}

/* ——  */

.re_playon{
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -208px -458px;
	cursor:pointer
}
.re_playon:hover {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -258px -458px;
	cursor:pointer
}
.re_playon:active {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -208px -458px;
}

/* ——  */

.re_playoff{
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -208px -508px;
	cursor:pointer
}
.re_playoff:hover {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -258px -508px;
	cursor:pointer
}
.re_playoff:active {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -208px -508px;
}

/* ——  */

.re_back{
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -208px -558px;
	cursor:pointer
}
.re_back:hover {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -258px -558px;
	cursor:pointer
}
.re_back:active {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -208px -558px;
}

/* ——  */

.re_pro{
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -208px -608px;
	cursor:pointer
}
.re_pro:hover {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -258px -608px;
	cursor:pointer
}
.re_pro:active {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -208px -608px;
}

/* ——  */

.re_prooff{
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -258px -608px;
	cursor:pointer
}
.re_prooff:hover {
	width: 34px;
	height: 34px;	
        background: url(../images/SpriteIntegrity.png) -208px -608px;
	cursor:pointer
}
.re_prooff:active {
	width: 34px;
	height: 34px;	
        background: url(../images/SpriteIntegrity.png) -258px -608px;
}

/* ——  */

.re_print{
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -208px -658px;
	cursor:pointer
}
.re_print:hover {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -258px -658px;
	cursor:pointer
}
.re_print:active {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -208px -658px;
}

/* ——  */

.re_print_off{
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -258px -658px;
	cursor:pointer
}
.re_print_off:hover {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -208px -658px;
	cursor:pointer
}
.re_print_off:active {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -258px -658px;
}

/* ——  */

.re_look{
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -208px -708px;
	cursor:pointer
}
.re_look:hover {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -258px -708px;
	cursor:pointer
}
.re_look:active {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -208px -708px;
}

/* ——  */

.re_admin{
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -208px -758px;
	cursor:pointer
}
.re_admin:hover {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -258px -758px;
	cursor:pointer
}
.re_admin:active {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -208px -758px;
}

/* ——  */

.re_info{
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -208px -808px;
	cursor:pointer
}
.re_info:hover {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -258px -808px;
	cursor:pointer
}
.re_info:active {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -208px -808px;
}

/* ——  */

.re_graph{
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -208px -858px;
	cursor:pointer
}
.re_graph:hover {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -258px -858px;
	cursor:pointer
}
.re_graph:active {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -208px -858px;
}

/* ——  */

.re_group{
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -208px -908px;
	cursor:pointer
}
.re_group:hover {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -258px -908px;
	cursor:pointer
}
.re_group:active {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -208px -908px;
}

/* ——  */

.re_check{
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -208px -958px;
	cursor:pointer
}
.re_check:hover {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -258px -958px;
	cursor:pointer
}
.re_check:active {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -208px -958px;
}

/* ——  */

.re_copy{
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -208px -1008px;
	cursor:pointer
}
.re_copy:hover {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -258px -1008px;
	cursor:pointer
}
.re_copy:active {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -208px -1008px;
}

/**********************************************/
/**********************************************/
/****************   PROCESOS   ****************/
/**********************************************/
/**********************************************/

.pro_bullet1{
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -408px -8px;
	cursor:pointer
}
.pro_bullet1:hover {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -458px -8px;
	cursor:pointer
}
.pro_bullet1:active {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -408px -8px;
}


/* ——  */

.pro_bullet2{
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -408px -58px;
	cursor:pointer
}
.pro_bullet2:hover {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -458px -58px;
	cursor:pointer
}
.pro_bullet2:active {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -408px -58px;
}

/* ——  */

.pro_editon{
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -408px -108px;
	cursor:pointer
}
.pro_editon:hover {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -458px -108px;
	cursor:pointer
}
.pro_editon:active {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -408px -108px;
}

/* ——  */

.pro_editoff{
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -408px -158px;
	cursor:pointer
}
.pro_editoff:hover {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -458px -158px;
	cursor:pointer
}
.pro_editoff:active {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -408px -158px;
}

/* ——  */

.pro_detalle{
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -408px -208px;
	cursor:pointer
}
.pro_detalle:hover {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -458px -208px;
	cursor:pointer
}
.pro_detalle:active {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -408px -208px;
}

/* ——  */

.pro_mas{
    width: 34px;
    height: 34px;
    background: url(../images/SpriteIntegrity.png) -408px -258px;
    cursor:pointer
}
.pro_mas:hover {
    width: 34px;
    height: 34px;
    background: url(../images/SpriteIntegrity.png) -458px -258px;
    cursor:pointer
}
.pro_mas:active {
    width: 34px;
    height: 34px;
    background: url(../images/SpriteIntegrity.png) -408px -258px;
}

/* ——  */

.pro_cerrar{
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -408px -308px;
	cursor:pointer
}
.pro_cerrar:hover {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -458px -308px;
	cursor:pointer
}
.pro_cerrar:active {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -408px -308px;
}

/* ——  */

.pro_saveon{
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -408px -358px;
	cursor:pointer
}
.pro_saveon:hover {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -458px -358px;
	cursor:pointer
}
.pro_saveon:active {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -408px -358px;
}

/* ——  */

.pro_saveoff{
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -408px -408px;
	cursor:pointer
}
.pro_saveoff:hover {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -458px -408px;
	cursor:pointer
}
.pro_saveoff:active {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -408px -408px;
}

/* ——  */

.pro_playon{
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -408px -458px;
	cursor:pointer
}
.pro_playon:hover {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -458px -458px;
	cursor:pointer
}
.pro_playon:active {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -408px -458px;
}

/* ——  */

.pro_playoff{
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -408px -508px;
	cursor:pointer
}
.pro_playoff:hover {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -458px -508px;
	cursor:pointer
}
.pro_playoff:active {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -408px -508px;
}

/* ——  */

.pro_back{
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -408px -558px;
	cursor:pointer
}
.pro_back:hover {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -458px -558px;
	cursor:pointer
}
.pro_back:active {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -408px -558px;
}

/* ——  */

.pro_pro{
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -408px -608px;
	cursor:pointer
}
.pro_pro:hover {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -458px -608px;
	cursor:pointer
}
.pro_pro:active {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -408px -608px;
}

/* ——  */

.pro_prooff{
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -458px -608px;
	cursor:pointer
}
.pro_prooff:hover {
	width: 34px;
	height: 34px;	
        background: url(../images/SpriteIntegrity.png) -408px -608px;
	cursor:pointer
}
.pro_prooff:active {
	width: 34px;
	height: 34px;	
        background: url(../images/SpriteIntegrity.png) -458px -608px;
}

/* ——  */

.pro_print{
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -408px -658px;
	cursor:pointer
}
.pro_print:hover {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -458px -658px;
	cursor:pointer
}
.pro_print:active {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -408px -658px;
}

/* ——  */

.pro_print_off{
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -458px -658px;
	cursor:pointer
}
.pro_print_off:hover {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -408px -658px;
	cursor:pointer
}
.pro_print_off:active {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -458px -658px;
}

/* ——  */

.pro_look{
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -408px -708px;
	cursor:pointer
}
.pro_look:hover {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -458px -708px;
	cursor:pointer
}
.pro_look:active {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -408px -708px;
}

/* ——  */

.pro_admin{
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -408px -758px;
	cursor:pointer
}
.pro_admin:hover {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -458px -758px;
	cursor:pointer
}
.pro_admin:active {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -408px -758px;
}

/* ——  */

.pro_adminoff{
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -458px -758px;
	cursor:pointer
}
.pro_adminoff:hover {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -408px -758px;
	cursor:pointer
}
.pro_adminoff:active {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -458px -758px;
}

/* ——  */

.pro_info{
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -408px -808px;
	cursor:pointer
}
.pro_info:hover {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -458px -808px;
	cursor:pointer
}
.pro_info:active {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -408px -808px;
}

/* ——  */

.pro_infooff{
	
        width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -458px -808px;
	cursor:pointer
}
.pro_infooff:hover {
        width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -408px -808px;
	cursor:pointer
}
.pro_infooff:active {
        width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -458px -808px;	
}

/* ——  */

.pro_graph{
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -408px -858px;
	cursor:pointer
}
.pro_graph:hover {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -458px -858px;
	cursor:pointer
}
.pro_graph:active {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -408px -858px;
}

/* ——  */

.pro_graphoff{
	
        width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -458px -858px;
	cursor:pointer
}
.pro_graphoff:hover {
        width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -408px -858px;
	cursor:pointer
}
.pro_graphoff:active {
        width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -458px -858px;	
}

/* ——  */

.pro_group{
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -408px -908px;
	cursor:pointer
}
.pro_group:hover {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -458px -908px;
	cursor:pointer
}
.pro_group:active {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -408px -908px;
}

/* ——  */

.pro_groupoff{
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -458px -908px;
	cursor:pointer
}
.pro_groupoff:hover {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -408px -908px;
	cursor:pointer
}
.pro_groupoff:active {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -458px -908px;
}

/* ——  */

.pro_check{
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -408px -958px;
	cursor:pointer
}
.pro_check:hover {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -458px -958px;
	cursor:pointer
}
.pro_check:active {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -408px -958px;
}

/* ——  */

.pro_checkoff{
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -458px -958px;
	cursor:pointer
}
.pro_checkoff:hover {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -408px -958px;
	cursor:pointer
}
.pro_checkoff:active {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -458px -958px;
}

/* ——  */

.pro_copy{
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -408px -1008px;
	cursor:pointer
}
.pro_copy:hover {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -458px -1008px;
	cursor:pointer
}
.pro_copy:active {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -408px -1008px;
}

/**********************************************/
/**********************************************/
/**************   INDICADORES   ***************/
/**********************************************/
/**********************************************/

.in_bullet1{
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -608px -8px;
	cursor:pointer
}
.in_bullet1:hover {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -658px -8px;
	cursor:pointer
}
.in_bullet1:active {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -608px -8px;
}

/* ——  */

.in_bullet2{
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -608px -58px;
	cursor:pointer
}
.in_bullet2:hover {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -658px -58px;
	cursor:pointer
}
.in_bullet2:active {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -608px -58px;
}

/* ——  */

.in_editon{
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -608px -108px;
	cursor:pointer
}
.in_editon:hover {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -658px -108px;
	cursor:pointer
}
.in_editon:active {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -608px -108px;
}

/* ——  */

.in_editoff{
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -608px -158px;
	cursor:pointer
}
.in_editoff:hover {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -658px -158px;
	cursor:pointer
}
.in_editoff:active {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -608px -158px;
}

/* ——  */

.in_detalle{
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -608px -208px;
	cursor:pointer
}
.in_detalle:hover {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -658px -208px;
	cursor:pointer
}
.in_detalle:active {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -608px -208px;
}

/* ——  */

.in_mas{
    width: 34px;
    height: 34px;
    background: url(../images/SpriteIntegrity.png) -608px -258px;
    cursor:pointer
}
.in_mas:hover {
    width: 34px;
    height: 34px;
    background: url(../images/SpriteIntegrity.png) -658px -258px;
    cursor:pointer
}
.in_mas:active {
    width: 34px;
    height: 34px;
    background: url(../images/SpriteIntegrity.png) -608px -258px;
}

/* ——  */

.in_cerrar{
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -608px -308px;
	cursor:pointer
}
.in_cerrar:hover {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -658px -308px;
	cursor:pointer
}
.in_cerrar:active {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -608px -308px;
}


/* ——  */

.in_saveon{
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -608px -358px;
	cursor:pointer
}
.in_saveon:hover {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -658px -358px;
	cursor:pointer
}
.in_saveon:active {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -608px -358px;
}

/* ——  */

.in_saveoff{
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -608px -408px;
	cursor:pointer
}
.in_saveoff:hover {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -658px -408px;
	cursor:pointer
}
.in_saveoff:active {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -608px -408px;
}

/* ——  */

.in_playon{
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -608px -458px;
	cursor:pointer
}
.in_playon:hover {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -658px -458px;
	cursor:pointer
}
.in_playon:active {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -608px -458px;
}

/* ——  */

.in_playoff{
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -608px -508px;
	cursor:pointer
}
.in_playoff:hover {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -658px -508px;
	cursor:pointer
}
.in_playoff:active {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -608px -508px;
}

/* ——  */

.in_back{
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -608px -558px;
	cursor:pointer
}
.in_back:hover {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -658px -558px;
	cursor:pointer
}
.in_back:active {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -608px -558px;
}

/* ——  */

.in_pro{
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -608px -608px;
	cursor:pointer
}
.in_pro:hover {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -658px -608px;
	cursor:pointer
}
.in_pro:active {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -608px -608px;
}

/* ——  */

.in_prooff{
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -658px -608px;
	cursor:pointer
}
.in_prooff:hover {
	width: 34px;
	height: 34px;	
        background: url(../images/SpriteIntegrity.png) -608px -608px;
	cursor:pointer
}
.in_prooff:active {
	width: 34px;
	height: 34px;	
        background: url(../images/SpriteIntegrity.png) -658px -608px;
}

/* ——  */

.in_print{
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -608px -658px;
	cursor:pointer
}
.in_print:hover {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -658px -658px;
	cursor:pointer
}
.in_print:active {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -608px -658px;
}

/* ——  */

.in_print_off{
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -658px -658px;
	cursor:pointer
}
.in_print_off:hover {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -608px -658px;
	cursor:pointer
}
.in_print_off:active {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -658px -658px;
}

/* ——  */

.in_look{
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -608px -708px;
	cursor:pointer
}
.in_look:hover {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -658px -708px;
	cursor:pointer
}
.in_look:active {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -608px -708px;
}

/* ——  */

.in_admin{
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -608px -758px;
	cursor:pointer
}
.in_admin:hover {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -658px -758px;
	cursor:pointer
}
.in_admin:active {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -608px -758px;
}

/* ——  */

.in_adminoff{
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -658px -758px;
	cursor:pointer
}
.in_adminoff:hover {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -608px -758px;
	cursor:pointer
}
.in_adminoff:active {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -658px -758px;
}

/* ——  */

.in_info{
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -608px -808px;
	cursor:pointer
}
.in_info:hover {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -658px -808px;
	cursor:pointer
}
.in_info:active {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -608px -808px;
}

/* ——  */

.in_infooff{
	
        width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -658px -808px;
	cursor:pointer
}
.in_infooff:hover {
        width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -608px -808px;
	cursor:pointer
}
.in_infooff:active {
        width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -658px -808px;	
}

/* ——  */

.in_graph{
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -608px -858px;
	cursor:pointer
}
.in_graph:hover {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -658px -858px;
	cursor:pointer
}
.in_graph:active {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -608px -858px;
}

/* ——  */

.in_graphoff{
	
        width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -658px -858px;
	cursor:pointer
}
.in_graphoff:hover {
        width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -608px -858px;
	cursor:pointer
}
.in_graphoff:active {
        width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -658px -858px;	
}

/* ——  */

.in_group{
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -608px -908px;
	cursor:pointer
}
.in_group:hover {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -658px -908px;
	cursor:pointer
}
.in_group:active {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -608px -908px;
}

/* ——  */

.in_groupoff{
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -658px -908px;
	cursor:pointer
}
.in_groupoff:hover {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -608px -908px;
	cursor:pointer
}
.in_groupoff:active {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -658px -908px;
}

/* ——  */

.in_check{
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -608px -958px;
	cursor:pointer
}
.in_check:hover {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -658px -958px;
	cursor:pointer
}
.in_check:active {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -608px -958px;
}

/* ——  */

.in_checkoff{
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -658px -958px;
	cursor:pointer
}
.in_checkoff:hover {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -608px -958px;
	cursor:pointer
}
.in_checkoff:active {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -658px -958px;
}

/* ——  */

.in_copy{
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -608px -1008px;
	cursor:pointer
}
.in_copy:hover {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -658px -1008px;
	cursor:pointer
}
.in_copy:active {
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -608px -1008px;
}





.transparente{
	width: 34px;
	height: 34px;
	background: url(../images/SpriteIntegrity.png) -358px -908px;
	cursor:pointer
}
