/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17/08/2016, 02:33:11 PM
    Author     : jenny
*/
body{
    font-size: 14px; 
    font-family: "Helvetica, sans-serif"; 
    color:"#E6E6FA";
}
.sidenavSup {
    border-style: solid;
    border-color: #80BD28 #fff  #fff  #fff;
    height: 100%;
}
.letraParrafo{
    font-style: normal; 
    font-variant: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 14px;
    line-height: normal;
    font-family: Helvetica;
}
.subTitulo{
    font-style: normal; 
    font-variant: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 17px;
    line-height: normal;
    font-family: Helvetica;
    font-weight: bold;
}
textarea {
resize: vertical;
}

.tdBotton{
    text-align: center;    
}
