div{
    border-style: none;    
}
body {
    background-color: #48494B;;   
    margin: 0 ;
    padding: 0 ;
    font-family: Arial;
    color: #48494B;
}
table{
    border-spacing: 0;
    border-collapse: collapse;    
}
tr{
    vertical-align: top;
    border-color: red;
}
td{
    padding: 0;
}
.tdAzul{
    background-color: #23ADDE
}

.tdNaranja{
    background-color: #EF9F27
}

.tdRojo{
    background-color: #CF0021
}

.tdVerde{
    background-color: #80BD28
}

.tdPerfil{
    text-align: center;
    padding-top: 10px;
    background-image: url("../images/fondo-perfil.png");
}
.tdIFrame{
    text-align: center;
    /*padding: 10px;*/
    background-color: white;           
}
#outerWrapper{  
    position:relative;
    min-height:470px;
}
#perfil {
    height:100%;    
}
#divArbol {
    height:100%;
    position: absolute;
    left: 0;
    top: 0;
    width:300px;
    z-index: 10;
    background-image: url("../images/fondo-arbol.png");
}
#divIFrame{
    position: absolute;
    height:100%;
    width: 100%;
    border: 0;    
}
img{    
    border: 0;
}

