div{
    border-style: none;    
}
body {
    background-color: #48494B;;   
    margin: 0 ;
    padding: 0 ;
    font-family: Arial;
    color: #48494B;
    overflow-y:hidden;
}
table{
    border-spacing: 0;
    border-collapse: collapse;    
}
tr{
    vertical-align: top;
    border-color: red;
}
td{
    padding: 0;
}
.tdAzul{
    background-color: #23ADDE
}

.tdNaranja{
    background-color: #EF9F27
}

.tdRojo{
    background-color: #CF0021
}

.tdVerde{
    background-color: #80BD28
}

.tdGris{
    background-color: #48494B;
    color: white;
    height: 30px;
    vertical-align: middle;
}

.tdPerfil{
    text-align: center;
    padding-top: 10px;
    background-image: url("../images/fondo-perfil.png");
}
.tdIFrame{
    text-align: center;    
    background-color: #fff;           
}
#outerWrapper{  
    position:relative;
    min-height:470px;
}
#perfil {
    height:100%;    
}
#divArbol {
    height:100%;
    position: absolute;
    left: 0;
    top: 0;
    width:300px;
    z-index: 10;
    overflow: auto;

    background-image: url("../images/fondo-arbol.png");
    /*overflow: auto;*/
}
#divIFrame{
    position: absolute;
    height:100%;
    width: 100%;
    border: 0;
    
}
img{    
    border: 0;
    cursor: pointer;
}

#logoEmpresa{
    border: 0;
    cursor: auto;
}

#imgUsuario{
    border: 0;
    cursor: auto;
}

#divFrameInc{
    position: absolute;
    left: 0;
    top: 0;
    background-color: #fff;
}

#divDocumentos {
    height:100%;
    position: absolute;
    left: 300px;
    top: 0;
    width:300px;
    z-index: 9;    
    background-image: url("../images/fondo-arbol.png");
    overflow: auto
}
/*
.k-toolbar{
    
    background-color: Transparent;    
    border: 0;
}

.k-button:hover{
    min-width: 20px;
    background: Transparent;
    border: 0;
} 

.k-toolbar.k-widget.k-toolbar-resizable{
    
    background-color: Transparent;
    border: 0;
}

.k-button.k-button-icon.k-group-start{
    
    background-color: Transparent;
    border: 0;
} 
.k-button.k-button-icon
{
    background-color: Transparent;   
    border: 0;
}
.k-overflow-container.k-list-container.k-popup.k-group{
    background-color: #48494B;  
    border: 0;
}

.k-overflow-anchor.k-button
{
    
    background-color: Transparent;
    border: 0;
}

.k-button.k-button-icon.k-state-focused,
.k-button.k-button-icon.k-state-focused:hover{
    background-color: blue;
    border: 0;
}
*/
