#fieldlist {
    margin: 0 0 -2em;
    padding: 0;
}

#fieldlist li {
    list-style: none;
    padding-bottom: 2em;
}

#fieldlist label {
    display: block;
    padding-bottom: 1em;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    color: #444;
    text-align: left;
}

#fieldlist input {
    width: 200px;
    padding-right: 5px;
}

#fieldlist li.status {
    text-align: center;
    color: red;
    font-size: 80%;
    
}

.k-primary {
    min-width: 150px;
}

.centrado {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bombas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.sombraBombas {
    position: absolute;
    top: 98%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.cerpentinas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#logoIntegrity{
    width: 450px;
    height: 163px;
    border: 0px;
}

#imgAcceso{
    width: 198px;
    height: 50px;
    border: 0px;
}

p{
    font-size: 3dpi;
    color: #666666;
    padding-right: 30px;
    text-align: left;
}

#tbLogin{
    width: 710px;
}

a{
    font-size: small;
    font-style: italic;
}

span.k-widget.k-tooltip-validation {
    display: inline-block;
    width: 160px;
    text-align: left;
    border: 0;
    padding: 0;
    margin: 0;
    background: none;
    box-shadow: none;
    color: red;
}

.k-tooltip-validation .k-warning {
    display: none;
}

body{
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    border: 0px none;
    overflow-y: hidden;
}
