/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 1/02/2017, 03:46:44 PM
    Author     : jenny
*/

td{
    padding: 5px
}

div{
    padding-left: 5px;
    padding-right: 5px;    
}

table{
    padding: 2px;
}

.k-grid tr:hover {
    background: transparent;
}
.k-grid tr:not(.k-state-selected):hover {
    color: #80BD28;
}

.k-grid tr.k-alt:not(.k-state-selected):hover {
    background: #f1f1f1;
}

.k-window-titlebar .k-header {
    display: none;
}

#customPopUp1{
    height:70%;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);
    width:60%;
    z-index: 9;
    background: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: #000000;
    /*background: url("../images/fondo-arbol.png");*/
    overflow: auto;  
}

#disable {
    height:100%;
    width:100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8;
    background-color:rgba(0,0,0,0.5);
    color: #000000;
    /*background: url("../images/fondo-arbol.png");*/
    overflow: auto;  
}
footer {
            background-color: #333;
            width: 100%;
            bottom: 0;
            left: 0px;
            position: fixed;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

