/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24/02/2017, 10:51:59 AM
    Author     : jenny
*/

tr{  
}
.pdf-sign {
	position: absolute;
	bottom: 1.7in;
	left: .5in;
	right: .5in;
	margin-top: .5cm;
	text-align:justify;
	font-size:12pt;
}
.pdf-page {
    margin: 0 auto;
    box-sizing: border-box;
    box-shadow: 0 10px 20px 6px rgba(0,0,0,.3);
    background-color: #fff;
    color: #333;
    position: relative;
}
.pdf-header {
    position: absolute;
    top: 0cm;
    height: 3cm;
    left: 0cm;
    right: 1cm;
    vertical-align: bottom;    
}
.documentName {
/*    padding-top: 2cm;
    float: right;*/
}
.pdf-footer {
    position: absolute;
    bottom: 0cm;
    height: 3.5cm;
    left: 0cm;
    right: 0cm;    
    text-align: left;
    vertical-align: bottom
}
	/*216 x 279*/
.size-letter { width: 216mm; height: 279mm;}

.pdf-body {
    position: absolute;
/*	top: 4.5in;*/
	bottom: 2.2in;
	left: .5in;
	right: .5in;
	margin-top: .5cm;
	text-align:justify;
	font-size:12pt;
}
.company-logo {
    font-size: 30px;
    font-weight: bold;
    color: #3aabf0;
}
.encabezado {
    position: absolute;
    top: 5cm;
    left: 1cm;
    right: 1cm;    
}
.signature {
    position: absolute;    
    left: 1cm;
    right: 1cm;
    text-align: center
}

.k-grid-header th.k-header {
    vertical-align: middle;
    text-align: center
}

.pdf-page {
    font-family: "DejaVu Sans", "Arial", sans-serif;
    font-size: 12px;
}

.k-grid tr:hover {
    background: transparent;
}
.k-grid tr:not(.k-state-selected):hover {
    color: #80BD28;
}

.k-grid tr.k-alt:not(.k-state-selected):hover {
    background: #f1f1f1;
}

.k-grid-footer td{
    background-color: #DFDFDF;
}

#divPDF{
    background-color: #f1f1f1;
    padding-top: 20px;
    padding-bottom: 20px;
}

.Interesado {
	position: absolute;
	top: 1.5in;
	bottom: 1.2in;
	left: .5in;
	right: .5in;
	margin-top: .5cm;
	text-align:center;
	font-size:12pt;
}
.detallevalores {
	border: 0px;
	background: white;
	width:30%;
	text-align:left;
	float:right;
	padding-left:10px;
	right:0in;
	margin-top: .5in;
	top:1.5in
}
.detalle {		
	border: 0px;
	background: white;
	text-align:right;
	float:right;
	padding-bottom:35px;	
	width:25%;
	padding-left:10px;
	margin-top: .5in;
	top:1.5in
}

.Comprobante{
	padding-top: .17in;
	float: right;
	text-align: right;
	}
        td{
           height: 1px;
           padding: 0;
        }
