table {
    border-collapse: collapse;
}

.tdIzquierdo{
    text-align: right;
    padding-top: 4px;
    padding-bottom: 2px;
    padding-right: 10px;
    padding-left: 10px;
    width: 20%;
}

.tdDerecho{
    text-align: left;
    padding-top: 4px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    width: 80%;
}
.footer {
    position : absolute;
    bottom : 0;
    height : 40px;
    width: 99%;
    margin-top : 40px;
}
table{
    alignment-adjust: middle
}

body{
    padding-left: 0
}
  
.divTexto{
    padding-left: 10px;
    padding-right: 10px
        
}