
.k-grid tr:hover {
    background: transparent;
}
.k-grid tr:not(.k-state-selected):hover {
    color: #80BD28;
}

.k-grid tr.k-alt:not(.k-state-selected):hover {
    background: #f1f1f1;
}

.k-window-titlebar .k-header {
    display: none;
}

.sidenavSup2 {
    border-style: solid;
    border-color: #80BD28 #fff  #fff  #fff;
    height: 100%;
}

td{
    padding: 5px
}

div{
    padding-left: 5px;
    padding-right: 5px;    
}

table{
    padding: 2px;
}

body{
    overflow-y: auto
}

