/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 08-ago-2016, 14:06:04
    Author     : Quantum
*/

.sidenavIzq {
    border-style: solid;
    border-color: #fff #fff #fff #E0E0E0;
    height: 100%;
}
.sidenavSub {
    border-style: solid;
    border-color: #EF9F27 #fff  #fff  #fff;
    height: 100%;
}
.letraParrafo{
    font-style: normal; 
    font-variant: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 17px;
    line-height: normal;
    font-family: Helvetica;
}
.subTitulo{
    font-style: normal; 
    font-variant: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 17px;
    line-height: normal;
    font-family: Helvetica;
    font-weight: bold;
}
.pointer:hover {
    cursor:pointer
}
.img_drawDropGrid{
	width: 20px;
	height: 34px;
        background-image: url(http://localhost:8080/Reporteador/images/dragDropGrid.png)
            
        
}
.k-primary {
    min-width: 150px;
}
li.k-button {
    line-height: 65px;
    text-align: center;
    min-height: 56px;
}

.k-window-titlebar .k-header {
    display: none;
}

.k-grid tr:hover {
  background: transparent;
}
.k-grid tr:not(.k-state-selected):hover {
      color: #EF9F27;
  }

  .k-grid tr.k-alt:not(.k-state-selected):hover {
      background: #f1f1f1;
  }
.sidenavSup {
    border-style: solid;
    border-color: #EF9F27 #fff  #fff  #fff;
}
body{
    margin-top: 0px; 
    margin-bottom: 0px; 
    margin-left: 0px; 
    margin-right: 0px;
    padding: 0;
    font-size: 14px; 
    font-family: "Verdana"; 
    color:"#E6E6FA";
    overflow-y:visible;
    width:100%;
}
/*.k-button {
    line-height: 65px;
    text-align: center;
    min-height: 56px;
}*/