/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 9/11/2016, 01:49:41 PM
    Author     : jenny
*/

body{
    padding: 5px;
    overflow: hidden;
}

table {
    border-collapse: collapse;
}

.tdIzquierdo{
    text-align: right;
    padding-top: 4px;
    padding-bottom: 2px;
    padding-right: 10px;
    padding-left: 10px;
}

.tdDerecho{
    text-align: left;
    padding-top: 4px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
}

.tdBotones{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;        
}
