.k-alt{
    background-color: #1d1d1d;
}

.k-grid.k-widget{
    background-color: #0e0e0e;
    border-color: #323232;
    color: #cecece;
}

.k-header{
    background-color: #0e0e0e;
    border-color: #323232;
    color: #cecece;
}
.k-grid-header{    
    background-color: #0e0e0e;
    border-color: #323232;
}

.k-grid-header-wrap{
    background-color: #0e0e0e;
    border-color: #323232;
}

.k-filter-row th:hover{    
    background-color: #0e0e0e;
}

.k-window-titlebar{
    background-color: #ffffff;
}


