/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10/01/2017, 02:32:34 PM
    Author     : jenny
*/
.k-edit-form-container {
    width: 100%;
}

.k-edit-field {
    padding-top: 4px;
    padding-right: 0px;
    padding-bottom: 18px;
    padding-left: 0px;
}

.k-grid tr:hover {
    background: transparent;
}
.k-grid tr:not(.k-state-selected):hover {
    color: #80BD28;
}

.k-grid tr.k-alt:not(.k-state-selected):hover {
    background: #f1f1f1;
}

tr.k-master-row {    
    font-weight: bold;    
}